<%= form_with model: survey, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>

  <%= f.fields_for :survey_answers do |form| %>
        <div>
          <% if form.object.question.question_type == 'long_answer' %>
            <%= form.label form.object.question.question %>
            <%= form.text_field :answer %>
            <%= form.hidden_field :question_id, value: form.object.question.id %>
          <% else %>
            <%= form.label form.object.question.question %>
            <%= form.select :answer, form.object.question.alternatives, {} %>
            <%= form.hidden_field :question_id, value: form.object.question.id %>

          <% end %>
        </div>
      <% end %>

  <%= f.hidden_field :completed, value: true %>
  <%= f.submit 'Save' %>
<% end %>

