<div class="col-6">
  <h5><%= t('home_page.index.section') %></h5>
  <ul class="nav flex-column">
    <li><%= t('home_page.index.home') %></li>
    <li><%= t('home_page.index.features') %></li>
    <li><%= t('home_page.index.pricing') %></li>
    <li><%= t('home_page.index.faqs') %></li>
    <li><%= t('home_page.index.about') %></li>
  </ul>
</div>