<%= form_with model: subscription, id: 'subscription_form' do |form| %>
  <div class="mb-3">
    <%= form.label t('models.attributes.email'), class: 'form-label' %>
    <%= form.text_field :email, placeholder: t('models.attributes.email_placeholder'), class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label t 'models.attributes.preferences' %>
    <% Subscription::PREFERENCES.each do |preference| %>
      <div>
        <%= form.check_box :preferences, { multiple: true }, preference, nil %>
        <%= form.label fashion_preferences(preference) %>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.submit t('global.forms.submit'), class: green_btn %>
  </div>
<% end %>
