<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p><%= t('subscription_email.welcome') %>  </p>
  <p><%= t('subscription_email.greetings') %>  </p>
  <p><%= t('subscription_email.body') %></p>
  <p><%= t('subscription_email.closure') %></p>
  <p><%= t('subscription_email.ending') %></p>
  </body>
</html>