<!DOCTYPE html>
<html>
  <head>
    <title>Mailing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/language_buttons' %>
    <%= turbo_frame_tag 'error_message' %>
    <div class="mt-4">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
